services:
  postgres:
    image: postgres:16
    ports:
      - "${DB_PORT}:${DB_PORT}"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: tutor_agency_bot
    volumes:
      - ./.pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8.4.0
    ports:
      - '6379:6379'
    volumes:
      - ./.redisdata:/data
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --save 60 1
      --appendonly no